#sidebar{
    height: 100%;
    width: 200px;
    background-color: azure;
    margin: 0px 10px;
    border-radius: 10px;
}
#sidebar ul{
    padding: 5px;
}
#sidebar ul li{
    list-style: none;
}
.mainNavItem{
    cursor: pointer;
}
.mainNavItem + div{
    list-style: none;
    padding-bottom: 5px;
}
.mainNavItem + div ul li{
    list-style: none;
    margin-bottom: 5px;
}

.hideItem{
    display: none;
}
.sub{
    transition: 0.5 ease-in-out;
}