.mainNavItem{
    cursor: pointer;
}
.mainNavItem > ul{
    padding: 10px;
}
.mainNavItem ul li{
    list-style: none;
    margin-bottom: 5px;
}

.hideItem{
    display: none;
}
.sub{
    transition: 0.2 ease-in-out;
    background-color: red;
}